/* ====== FORM ====== */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    object-fit: cover;
    border-radius: 50%;
}

/* ====== BASIC RESET ====== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ====== HEADER ====== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 20px;
}

header li:hover {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

/* ====== MAIN LAYOUT ====== */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

/* ====== LANDING SECTION ====== */
.lp-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.lp-section > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-section h2 {
    margin-bottom: 10px;
}

.lp-section p {
    margin-bottom: 10px; 
}

.buttons {
    display: flex;
    gap: 15px;
}

.main-dish {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* ====== BUTTONS ====== */
button {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#menu-button {
    background-color: chocolate;
}

#book-button {
    background-color: gray;
}

#menu-text,
#book-text {
    text-decoration: none;
    color: white;
}

/* ====== TOP DISHES LIST ====== */
.top-list {
    display: flex;         
    flex-direction: column; 
    align-items: center;   
}

.top-list-text h2 {
    margin-left: 20px;
}

.dishes-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.dish {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: oldlace;
    width: 200px;
    height: 230px; 
    padding: 20px 15px; 
    border-radius: 10px;
}

.dish img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.dish p {
    position: absolute;
    bottom: 10px;   
    right: 10px;    
    margin: 0;
    font-weight: 600;
}

.potato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40 px; 
    padding: 40px 20px;
}

.potato-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.potato-text {
    max-width: 400px;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-item {
    width: 160px;
    padding: 15px;
    background-color: oldlace;
    border-radius: 10px;
    text-align: center;
}
